

body {
	background: url(https://raw.githubusercontent.com/Diviee/Group_72/a64a5756d1792187a0341be2a641a8873664814d/Materials/images/pattern-background-desktop.svg);
	background-repeat: no-repeat;
/*	background-size:  cover;*/
	/*margin: 0 auto;*/
	/*padding: 50px;*/
	text-align: center;
}

/*.attribution { 
	font-size: 11px; text-align: center; 
	color: hsl(228, 45%, 44%); 
}*/
 /* <svg xmlns="http://www.w3.org/2000/svg" width="1440" height="437"><path fill="#D6E1FF" fill-rule="evenodd" d="M0 349.974c218.558 116.035 460.05 116.035 724.475 0s502.933-116.035 715.525 0V0H0v349.974z"/></svg>*/